*{
    margin: 0;
    padding: 0;
   
}
body, html{
    margin: 0;
    padding: 0;
}

.container {
    margin: 2px auto;
    width: 90%;
    border:  2px solid black;
}
.child {

    display: inline-block;
    margin: 2px;
    text-align: center;
    border: solid 2px black;
}

.box {
    width:20%;
    display: inline-block;
    position: relative;
}


img {
    width: 100%;
}

h3 {
    background-color: black;
    color: white;
    position: absolute;
    top: 0px;
}